<figure class="text-center">
    <blockquote class="blockquote">
      <p>A well-known quote, contained in a blockquote element.</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Someone famous in <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>
  <br>
<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>        
        <button class="btn btn-outline-primary btn-block">Show/hide</button>
    </div>    
    <div class="col">
        <h1>*ngFor</h1>
        <hr>
    </div>
</div>